section.page-footer
  .container
    .page-footer__wrapper
      .page-footer__left-block
        a.logo(href="#")
          img.logo__img(src="img/logo.svg")
        a.tel-row(href="tel:+79281234567")
          img(src="img/tel.svg")
          span.tel-row__text +7 (928) 123 45 67 

        a.tel-row(href="tel:+79284448894")
          img(src="img/tel2.svg")
          span.tel-row__text +79284448894

        a.mail-link(href="email:info@kartiny.art") info@kartiny.art 
        .wrap-text
          span г. Краснодар, ул. Зиповская 5В 
        .wrap-text
          span пн-вс с 9:00 - 20:00
        .wrap-text
          span Заказы принимаются 24 часа в сутки!
      .page-footer__center-block
        .footer-list
          h4.footer-caption Каталог
          ul.footer-list__wrap
            li.footer-list__item
              a.footer-list__link(href="#") Модульные картины
            li.footer-list__item
              a.footer-list__link(href="#") Картины постеры
            li.footer-list__item
              a.footer-list__link(href="#") Картины в багете
            li.footer-list__item
              a.footer-list__link(href="#") Репродукция
            li.footer-list__item
              a.footer-list__link(href="#") Распродажа картин
            li.footer-list__item
              a.footer-list__link(href="#") Зеркала в багете
        .footer-list
          h4.footer-caption О нас
          ul.footer-list__wrap
            li.footer-list__item
              a.footer-list__link(href="#") Наше производство
            li.footer-list__item
              a.footer-list__link(href="#") Доставка и оплата
            li.footer-list__item
              a.footer-list__link(href="#") Отзывы (780)
            li.footer-list__item
              a.footer-list__link(href="#") Статьи
            li.footer-list__item
              a.footer-list__link(href="#") Фото наших картин
            li.footer-list__item
              a.footer-list__link(href="#") Контакты
        .pay-row
          h4.footer-caption Мы принимаем
          .pay-row__wrapper
            a.pay-row__wrap-img(href="#")
              img.pay-row__img(src="img/pay1.png")
            a.pay-row__wrap-img(href="#")
              img.pay-row__img(src="img/pay2.png")
            a.pay-row__wrap-img(href="#")
              img.pay-row__img(src="img/pay3.png")
            a.pay-row__wrap-img(href="#")
              img.pay-row__img(src="img/pay4.png")

      .page-footer__right-block
        .page-footer__wrap
          h4.footer-caption Instagram
          .instagram-gallery
            a.instagram-gallery__wrap(href="#")
              img.instagram-gallery__img(src="img/instagram1.png")
            a.instagram-gallery__wrap(href="#")
              img.instagram-gallery__img(src="img/instagram2.png")
            a.instagram-gallery__wrap(href="#")  
              img.instagram-gallery__img(src="img/instagram3.png")
            a.instagram-gallery__wrap(href="#")  
              img.instagram-gallery__img(src="img/instagram4.png")
            a.instagram-gallery__wrap(href="#")  
              img.instagram-gallery__img(src="img/instagram5.png")
            a.instagram-gallery__wrap(href="#")  
              img.instagram-gallery__img(src="img/instagram6.png")
        .page-footer__wrap      
          h4.footer-caption Соцсети
          ul.social
            li.social__item
              a.social__link(href="#")
                img.social__img(src="img/social1.png")
            li.social__item
              a.social__link(href="#")
                img.social__img(src="img/social2.png")
            li.social__item
              a.social__link(href="#")
                img.social__img(src="img/social3.png")
            li.social__item
              a.social__link(href="#")
                img.social__img(src="img/social4.png")
            li.social__item
              a.social__link(href="#")
                img.social__img(src="img/social5.png")

    .page-footer__down
      span.copyright 2019 КартиныАрт. Все права защищены.
      .page-footer__row
        a.page-footer__link(href="#") Политика конфиденциальности
        a.page-footer__link(href="#") Согласие на обработку данных






include modal.pug
