.nav-drop-down
  .container
    .nav-drop-down__wrapper
      ul.nav-drop-down__list
        li.nav-drop-down__item
          a.nav-drop-down__wrap-link(href="#")
            svg.nav-drop-down__svg
              use(xlink:href="img/sprite.svg#arrow-nav")
            span.nav-drop-down__link <b>Цветы</b> (182)
        li.nav-drop-down__item
          a.nav-drop-down__wrap-link(href="#")
            svg.nav-drop-down__svg
              use(xlink:href="img/sprite.svg#arrow-nav")
            span.nav-drop-down__link <b>Абстракции</b> (182)
        li.nav-drop-down__item
          a.nav-drop-down__wrap-link(href="#")
            svg.nav-drop-down__svg
              use(xlink:href="img/sprite.svg#arrow-nav")
            span.nav-drop-down__link <b>Этника</b> (182)
        li.nav-drop-down__item.vip-item
          a.nav-drop-down__wrap-link(href="#")
            svg.nav-drop-down__svg
              use(xlink:href="img/sprite.svg#arrow-nav")
            span.nav-drop-down__link <b>VIP композиции</b> (182)
        li.nav-drop-down__item
          a.nav-drop-down__wrap-link(href="#")
            svg.nav-drop-down__svg
              use(xlink:href="img/sprite.svg#arrow-nav")
            span.nav-drop-down__link <b>Пейзаж, природа </b> (182)
        li.nav-drop-down__item
          a.nav-drop-down__wrap-link(href="#")
            svg.nav-drop-down__svg
              use(xlink:href="img/sprite.svg#arrow-nav")
            span.nav-drop-down__link <b>Животные </b> (182)
        li.nav-drop-down__item
          a.nav-drop-down__wrap-link(href="#")
            svg.nav-drop-down__svg
              use(xlink:href="img/sprite.svg#arrow-nav")
            span.nav-drop-down__link <b>Еда</b> (182)
        li.nav-drop-down__item
          a.nav-drop-down__wrap-link(href="#")
            svg.nav-drop-down__svg
              use(xlink:href="img/sprite.svg#arrow-nav")
            span.nav-drop-down__link <b>Репродукции</b> (182)
        li.nav-drop-down__item
          a.nav-drop-down__wrap-link(href="#")
            svg.nav-drop-down__svg
              use(xlink:href="img/sprite.svg#arrow-nav")
            span.nav-drop-down__link <b>Города</b> (182)
        li.nav-drop-down__item
          a.nav-drop-down__wrap-link(href="#")
            svg.nav-drop-down__svg
              use(xlink:href="img/sprite.svg#arrow-nav")
            span.nav-drop-down__link <b>Детские</b> (182)
        li.nav-drop-down__item
          a.nav-drop-down__wrap-link(href="#")
            svg.nav-drop-down__svg
              use(xlink:href="img/sprite.svg#arrow-nav")
            span.nav-drop-down__link <b>Разное</b> (182)
