.picture-slider-module
  .picture-slider-module__up
    a.link-change(href="#")
      svg.link-change__img
        use(xlink:href="img/sprite.svg#interior")
      span.link-change__text Картина на&nbsp;стене
    a.link-change(href="#")
      svg.link-change__img
        use(xlink:href="img/sprite.svg#interior2")
      span.link-change__text Загрузить интерьер
    a.link-change(href="#")
      svg.link-change__img
        use(xlink:href="img/sprite.svg#interior3")
      span.link-change__text Мои интерьеры (2)
  
  .picture-slider-big
    .picture-slider-big__slider.swiper-container
      .picture-slider-big__wrapper.swiper-wrapper

        .picture-slider-big__slide.swiper-slide
          .picture-slider-big__wrap-img
            .heart-wrap
              svg.heart-wrap__svg(viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M15.9993 4.73864C15.9993 9.34397 7.99933 15 7.99933 15C7.99933 15 0 9.34397 0 4.73864C0 0.134014 6.59133 -0.351089 8 4.36344C9.36 -0.47639 15.9993 0.134714 15.9993 4.73864Z")
                rect.white-line(x="5.87891" y="4.46448" width="8" height="2" rx="1" transform="rotate(45 5.87891 4.46448)")
                rect.white-line(x="11.5352" y="5.87869" width="8" height="2" rx="1" transform="rotate(135 11.5352 5.87869)")
            img.picture-slider-big__img(src="img/picture-slider-big.jpg")

        .picture-slider-big__slide.swiper-slide
          .picture-slider-big__wrap-img
            .heart-wrap
              svg.heart-wrap__svg(viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M15.9993 4.73864C15.9993 9.34397 7.99933 15 7.99933 15C7.99933 15 0 9.34397 0 4.73864C0 0.134014 6.59133 -0.351089 8 4.36344C9.36 -0.47639 15.9993 0.134714 15.9993 4.73864Z")
                rect.white-line(x="5.87891" y="4.46448" width="8" height="2" rx="1" transform="rotate(45 5.87891 4.46448)")
                rect.white-line(x="11.5352" y="5.87869" width="8" height="2" rx="1" transform="rotate(135 11.5352 5.87869)")
            img.picture-slider-big__img(src="img/picture-slider-big.jpg")

        .picture-slider-big__slide.swiper-slide
          .picture-slider-big__wrap-img
            .heart-wrap
              svg.heart-wrap__svg(viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M15.9993 4.73864C15.9993 9.34397 7.99933 15 7.99933 15C7.99933 15 0 9.34397 0 4.73864C0 0.134014 6.59133 -0.351089 8 4.36344C9.36 -0.47639 15.9993 0.134714 15.9993 4.73864Z")
                rect.white-line(x="5.87891" y="4.46448" width="8" height="2" rx="1" transform="rotate(45 5.87891 4.46448)")
                rect.white-line(x="11.5352" y="5.87869" width="8" height="2" rx="1" transform="rotate(135 11.5352 5.87869)")
            img.picture-slider-big__img(src="img/picture-slider-big.jpg")

        .picture-slider-big__slide.swiper-slide
          .picture-slider-big__wrap-img
            .heart-wrap
              svg.heart-wrap__svg(viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M15.9993 4.73864C15.9993 9.34397 7.99933 15 7.99933 15C7.99933 15 0 9.34397 0 4.73864C0 0.134014 6.59133 -0.351089 8 4.36344C9.36 -0.47639 15.9993 0.134714 15.9993 4.73864Z")
                rect.white-line(x="5.87891" y="4.46448" width="8" height="2" rx="1" transform="rotate(45 5.87891 4.46448)")
                rect.white-line(x="11.5352" y="5.87869" width="8" height="2" rx="1" transform="rotate(135 11.5352 5.87869)")
            img.picture-slider-big__img(src="img/picture-slider-big.jpg")

        .picture-slider-big__slide.swiper-slide
          .picture-slider-big__wrap-img
            .heart-wrap
              svg.heart-wrap__svg(viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M15.9993 4.73864C15.9993 9.34397 7.99933 15 7.99933 15C7.99933 15 0 9.34397 0 4.73864C0 0.134014 6.59133 -0.351089 8 4.36344C9.36 -0.47639 15.9993 0.134714 15.9993 4.73864Z")
                rect.white-line(x="5.87891" y="4.46448" width="8" height="2" rx="1" transform="rotate(45 5.87891 4.46448)")
                rect.white-line(x="11.5352" y="5.87869" width="8" height="2" rx="1" transform="rotate(135 11.5352 5.87869)")
            img.picture-slider-big__img(src="img/picture-slider-big.jpg")

        .picture-slider-big__slide.swiper-slide
          .picture-slider-big__wrap-img
            .heart-wrap
              svg.heart-wrap__svg(viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M15.9993 4.73864C15.9993 9.34397 7.99933 15 7.99933 15C7.99933 15 0 9.34397 0 4.73864C0 0.134014 6.59133 -0.351089 8 4.36344C9.36 -0.47639 15.9993 0.134714 15.9993 4.73864Z")
                rect.white-line(x="5.87891" y="4.46448" width="8" height="2" rx="1" transform="rotate(45 5.87891 4.46448)")
                rect.white-line(x="11.5352" y="5.87869" width="8" height="2" rx="1" transform="rotate(135 11.5352 5.87869)")
            img.picture-slider-big__img(src="img/picture-slider-big.jpg")

    .picture-slider-big__arrow.picture-slider-big__arrow--prev
      svg.picture-slider-big__svg
        use(xlink:href="img/sprite.svg#arrow-nav")
    .picture-slider-big__arrow.picture-slider-big__arrow--next
      svg.picture-slider-big__svg
        use(xlink:href="img/sprite.svg#arrow-nav")
          
  .picture-slider-down
    .picture-slider-down__slider.swiper-container
      .picture-slider-down__wrapper.swiper-wrapper

        .picture-slider-down__slide.swiper-slide
          .picture-slider-down__wrap-img
            img.picture-slider-down__img(src="img/picture-slider-sm.jpg")

        .picture-slider-down__slide.swiper-slide
          .picture-slider-down__wrap-img
            img.picture-slider-down__img(src="img/picture-slider-sm.jpg")

        .picture-slider-down__slide.swiper-slide
          .picture-slider-down__wrap-img
            img.picture-slider-down__img(src="img/picture-slider-sm.jpg")

        .picture-slider-down__slide.swiper-slide
          .picture-slider-down__wrap-img
            img.picture-slider-down__img(src="img/picture-slider-sm.jpg")

        .picture-slider-down__slide.swiper-slide
          .picture-slider-down__wrap-img
            img.picture-slider-down__img(src="img/picture-slider-sm.jpg")
            
        .picture-slider-down__slide.swiper-slide
          .picture-slider-down__wrap-img
            img.picture-slider-down__img(src="img/picture-slider-sm.jpg")    

    .picture-slider-down__arrow.picture-slider-down__arrow--prev
      svg.picture-slider-down__svg
        use(xlink:href="img/sprite.svg#arrow-nav")
    .picture-slider-down__arrow.picture-slider-down__arrow--next
      svg.picture-slider-down__svg
        use(xlink:href="img/sprite.svg#arrow-nav")
        