.content-row {
  &__up {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .watch-btn {}

    .title-page {
      display: block;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__down {
    display: none;
  }
}


.picture-slider {
  padding: 30px 20px 64px;
  margin: 0 -20px;

  &__slide {
    position: relative;
    z-index: 1;
  }

  &__arrow {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 57px);
    z-index: 10;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      border-radius: 100px;
      background: #FFFFFF;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease-in-out;
    }

    &--prev {
      left: -20px;
      transform: rotate(180deg);
    }

    &--next {
      right: -20px;
    }

    svg {
      width: 16px;
      height: 16px;
      position: relative;
      z-index: 1;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      &::before {
        transform: scale(1.1);
        background-color: #CC0F14;
      }

      svg {
        fill: #fff;
      }
    }
  }
}

.picture-block {
  position: relative;

  &__content {
    display: block;
    background-color: #fff;
    position: relative;
    z-index: 2;
    padding-bottom: 12px;
  }

  .heart-wrap {
    left: auto;
    top: 8px;
    right: 8px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 20;
  }

  &__img {
    width: 100%;
  }

  &__block-text {
    padding-top: 11px;
  }

  &__caption {
    font-size: 14px;
    line-height: 20px;
    opacity: 0.7;
    font-weight: 400;
    margin-bottom: 4px;
  }

  &__name {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #CC0F14;
    }
  }

  &__price {
    font-size: 16px;
    line-height: 20px;
    font-family: 'GT Walsheim Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-weight: 800;
  }

  &__old-price {
    font-size: 14px;
    line-height: 20px;
    opacity: 0.5;
    text-decoration: line-through;
    margin-left: 7px;
  }

  &:hover {
    .picture-block-dropdown {
      bottom: -46px;

      &::before {
        transform: scaleX(1.1) scaleY(1.1) translateY(-5px);
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
      }
    }
    .heart-wrap {
      opacity: 1;
    }
  }
}

.picture-block-dropdown {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
  }

  &__row {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 4px;
    margin: 0 -8px;
  }

  &__block {
    padding: 0 8px;
    width: 50%;
  }
}


.reviews {
  &__up {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #DBDBE3;
  }
}

.reviews-tab-items {
  margin-right: -8px;
  display: flex;

  &__wrap {
    padding: 0 0 15px;
    margin: 0 8px -1px;
    border-radius: 4px 4px 0 0;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;

    &--active {
      background-color: #fff;
      border: 1px solid #DBDBE3;
      border-bottom-color: transparent;
      padding-bottom: 8px;

      .reviews-tab-items__btn {
        background-color: transparent;
        border-color: transparent;
        padding-top: 18px;

        &:hover {
          box-shadow: none;
        }
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    padding: 11px 15px;
    background: #F1F1F2;
    transition: all 0.3s ease-in-out;
    border: 1px solid #DBDBE3;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #fff;
      box-shadow: 2px 6px 8px rgba(0, 0, 0, .2);
    }
  }

  &__img {
    width: 16px;
    min-width: 16px;
    height: 16px;
    margin-right: 15px;
  }

  &__name {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.55px;
    text-transform: uppercase;
    font-family: 'GT Walsheim Pro', sans-serif;
    font-weight: 800;
  }
}

.reviews-tab-content {
  display: none;
  padding-top: 30px;
  padding-bottom: 40px;

  &__down {
    display: flex;
    justify-content: flex-end;
  }
}

.active-tab-content {
  display: block;
}

.reviews-banner {
  background-color: #F1F1F2;
  border-radius: 4px;
  display: flex;
  margin-bottom: 40px;

  &__wrap-img {
    max-width: 50%;
    position: relative;
  }

  &__img {
    width: 100%;

    &--offset-top {
      margin-top: -25px;
    }
  }

  &__img-animate {
    position: absolute;
    right: calc(50% - 205px);
    bottom: 0;
    max-width: 410px;
    width: 100%;
    min-height: 100%;
    transition: all .5s ease-out;
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }

  &__block-text {
    width: 50%;
    padding-left: 18px;
    padding-top: 45px;
    padding-bottom: 20px;
  }

  &__text {
    font-size: 18px;
    line-height: 24px;
    opacity: 0.7;
    display: block;
    margin-bottom: 5px;
  }

  &__title {
    font-size: 32px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    max-width: 333px;
  }

  .block-btn {
    max-width: 200px;
    margin-top: 14px;
  }
}


.reviews-slider {
  position: relative;

  &__arrow {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 57px);
    z-index: 10;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      border-radius: 100px;
      background: #FFFFFF;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease-in-out;
    }

    &--prev {
      left: -20px;
      transform: rotate(180deg);
    }

    &--next {
      right: -20px;
    }

    svg {
      width: 16px;
      height: 16px;
      position: relative;
      z-index: 1;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      &::before {
        transform: scale(1.1);
        background-color: #CC0F14;
      }

      svg {
        fill: #fff;
      }
    }
  }
}

.video-block {
  padding-bottom: 34px;
  cursor: pointer;

  &:hover {
    .video-block__img {
      transform: scale(1.1);
    }
  }

  &__wrap-img {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
  }

  &__img {
    width: 100%;
    transition: all 0.5s ease-in-out;
  }

  &__play {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      border-radius: 100px;
      background-color: #CC0F14;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      &::before {
        transform: scale(1.1);
      }
    }
  }

  &__svg {
    width: 16px;
    height: 16px;
    fill: #fff;
    position: relative;
    z-index: 1;
  }

  &__block-text {
    padding-top: 11px;
  }

  &__date {
    font-size: 14px;
    line-height: 20px;
    opacity: 0.7;
    display: block;
    margin-bottom: 5px;
  }

  &__name {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    display: block;
  }
}

.reviews-block {
  padding-bottom: 34px;
  cursor: pointer;

  &:hover {
    .reviews-block__img {
      transform: scale(1.1);
    }
  }


  &__wrap-img {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
  }

  &__img {
    width: 100%;
    transition: all 0.5s ease-in-out;
  }

  &__down {
    display: flex;
    padding-top: 16px;
    align-items: center;
    flex-wrap: wrap;
  }

  &__user-img {
    min-width: 64px;
    margin-right: 16px;
  }

  &__block-text {
    width: 100%;
    margin-top: 7px;
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
  }

  &__date {
    font-size: 14px;
    line-height: 20px;
    opacity: 0.7;
    display: block;
    margin-bottom: 5px;
  }

  &__name {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    display: block;
  }
}

.info-row {
  padding-top: 40px;
  padding-bottom: 40px;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
    margin-top: 22px;
    margin-bottom: 40px;
  }
  
  &__wrap-img {
    overflow: hidden;
    border-radius: 4px;
    margin-top: 8px;
  }

  &__img {
    width: 100%;    
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }

  &__block-text {
    padding-left: 1px;

    h4 {
      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
      position: relative;
      display: inline-block;
      padding-right: 31px;
      margin-bottom: 25px;

      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 12px;
        width: 16px;
        height: 2px;
        background-color: #CC0F14;
      }
    }

    p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 25px;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__down {
    display: flex;
    justify-content: flex-end;

    .watch-btn {
      &__svg {
        transform: rotate(90deg);
      }
    }
  }
}


.sect-search {
  border-top: 1px solid #DBDBE3;
  margin-top: 55px;

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #22232B;
    font-family: 'Roboto', sans-serif;
    padding: 15px 0;
  }

  &__wrap {
    flex-grow: 1;
    margin-left: 20px;
    align-self: stretch;
    display: flex;
    align-items: center;
  }
}

.line-form {
  flex-grow: 1;
  margin-left: 33px;
  border-radius: 100px;
  border: 1px solid #DBDBE3;

  &__wrap {
    display: flex;
    align-items: stretch;
    transition: all 0.3s ease-in-out;
    border-radius: 100px;

    &--active {
      box-shadow: 2px 6px 8px rgba(0, 0, 0, .2);
    }
  }

  &__field {
    background-color: transparent;
    border-radius: 100px;
    padding: 7px 24px;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    max-width: 420px;

    &::placeholder {
      font-size: 16px;
      line-height: 24px;
      opacity: 0.6;
      color: #404355;
    }
  }

  &__btn {
    background-color: transparent;
    display: flex;
    align-items: center;
    padding-left: 22px;
    cursor: pointer;
    padding-right: 15px;
    flex-grow: 1;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: calc(50% - 8px);
      height: 16px;
      width: 1px;
      background-color: #404355;
      opacity: 0.2;
    }
    &:hover {
      .line-form__text {
        color: #cc0f14;
      }
    }
  }

  &__svg {
    width: 16px;
    height: 16px;
    fill: #CC0F14;
    margin-right: 6px;
  }

  &__text {
    font-size: 11px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.55px;
    transition: all 0.3s ease-in-out;
  }
}
