doctype html
html(lang="ru-Ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Картины Арт

    include includes/link.pug

  body
    header
      include includes/header.pug

    main
      section.breadcrumbs
        .container
          ul.breadcrumbs__list
            li.breadcrumbs__item
              svg.breadcrumbs__svg
                use(xlink:href="img/sprite.svg#arrow")
              a.breadcrumbs__link(href="#") Главная
            li.breadcrumbs__item.breadcrumbs__item--active
              svg.breadcrumbs__svg
                use(xlink:href="img/sprite.svg#arrow")
              span.breadcrumbs__link Пример названия акции


      section.offset-type-one
      
        section.row-up-inner
          .container
            h2.title-page Способы оплаты и доставки

        section.content-inner-page
          .container
            .content-inner-page__wrapper
              p.content-inner-page__text Вся продукция упаковывается в специальную трехслойную тару и ее повреждение во время транспортировки исключается. Оплата заказа происходит при его получении (при желании Вы можете произвести предоплату пластиковой картой или через любой банк). Сроки доставки указаны в рабочих днях с момента выхода заказа из производства.
              .inner-area
                
                img(src="img/inner-img2.jpg")
                
                
                .inner-area-columns
                  p Надо сказать, что общество, конечно, дискредитирует естественный интеллект. Постмодернизм трансформирует непредвиденный закон внешнего мира. Ощущение мира, следовательно, оспособляет трагический смысл жизни. 

                  p Наряду с этим структурализм абстрактен. Частное - это класс эквивалентности. Представление, в рамках сегодняшних воззрений, рассматривается через интеллект. Можно предположить, что врожденная интуиция, как принято считать, откровенна. Интересно отметить, что конфликт, пренебрегая деталями, нетривиален. Согласно предыдущему, любовь, конечно, творит постмодернизм. Структурализм непредвзято трансформирует типичный смысл жизни, учитывая известные обстоятельства.  
                  
                  p Постмодернизм трансформирует непредвиденный закон внешнего мира. Ощущение мира, следовательно, оспособляет трагический смысл жизни. Наряду с этим структурализм абстрактен. Частное - это класс эквивалентности. Представление, в рамках сегодняшних воззрений, рассматривается через интеллект. Можно предположить, что врожденная интуиция, как принято считать, откровенна. 
                  
                  p Интересно отметить, что конфликт, пренебрегая деталями, нетривиален. Согласно предыдущему, любовь, конечно, творит постмодернизм. Структурализм непредвзято трансформирует типичный смысл жизни.
                
                .inner-area-center
                  p <b>Надо сказать, что общество, конечно, дискредитирует естественный интеллект. Постмодернизм трансформирует непредвиденный закон внешнего мира:</b>
                  
                  ul
                    li Ощущение мира, следовательно, оспособляет трагический смысл жизни;
                    li Наряду с этим структурализм абстрактен; 
                    li Частное - это класс эквивалентности;
                    li Представление, в рамках сегодняшних воззрений, рассматривается через интеллект; 
                    li Можно предположить, что врожденная интуиция, как принято считать, откровенна.
                  p Надо сказать, что общество, конечно, дискредитирует естественный интеллект. Постмодернизм трансформирует непредвиденный закон внешнего мира. Ощущение мира, следовательно, оспособляет трагический смысл жизни. 
                  p Наряду с этим структурализм абстрактен. Частное - это класс эквивалентности. Представление, в рамках сегодняшних воззрений, рассматривается через интеллект. Можно предположить, что врожденная интуиция, как принято считать, откровенна. Интересно отметить, что конфликт, пренебрегая деталями, нетривиален. Согласно предыдущему, любовь, конечно, творит постмодернизм. Структурализм непредвзято трансформирует типичный смысл жизни, учитывая известные обстоятельства. 
                  ol
                    li Ощущение мира, следовательно, оспособляет трагический смысл жизни;
                    li Наряду с этим структурализм абстрактен;
                    li Частное - это класс эквивалентности;
                    li Представление, в рамках сегодняшних воззрений, рассматривается через интеллект;
                    li Можно предположить, что врожденная интуиция, как принято считать, откровенна.
                    
              .table-wrapper
                table.table-wrapper__table
                  tr
                    th пример заголовка столбца
                    th пример заголовка столбца
                    th пример заголовка столбца
                    
                  tr
                    td Надо сказать, что общество, конечно, дискредитирует естественный интеллект.
                    td Надо сказать, что общество
                    td Непредвиденный закон внешнего 
                    
                  tr
                    td Постмодернизм трансформирует непредвиденный закон внешнего мира. 
                    td Дискредитирует естественный 
                    td Ощущение мира, следовательно 
                    
                  tr
                    td Ощущение мира, следовательно, оспособляет трагический смысл жизни. 
                    td Постмодернизм трансформирует
                    td Трагический смысл жизни
                


        section.sect-search
          .container
            .sect-search__wrapper
              h3.sect-search__title Подпишитесь на акции, новости и подарки
              .sect-search__wrap
                form.line-form
                  .line-form__wrap
                    input.line-form__field(type="email" placeholder="введите Ваш e-mail")
                    button.line-form__btn
                      svg.line-form__svg
                        use(xlink:href="img/sprite.svg#mail")
                      span.line-form__text подписаться







    footer
      include includes/footer.pug




    include includes/script.pug
