doctype html
html(lang="ru-Ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Картины Арт

    include includes/link.pug

  body
    header
      include includes/header.pug

    main

      section.first-screen(style="background-image: url(img/first-screen-bg.jpg)")
        .container
          .first-screen__wrapper
            span.first-screen__subtitle Более 7000 картин в Наличии!
            h1.first-screen__title Интернет магазин картин c доставкой по России
            p.first-screen__text Печать любой картины на заказ. Купить в интернет магазине картины недорого. Не только купить картины, которые в наличии, но и заказать с любым вашим изображением.

      section.breadcrumbs
        .container
          ul.breadcrumbs__list
            li.breadcrumbs__item
              svg.breadcrumbs__svg
                use(xlink:href="img/sprite.svg#arrow")
              a.breadcrumbs__link(href="#") Главная
            li.breadcrumbs__item.breadcrumbs__item--active
              svg.breadcrumbs__svg
                use(xlink:href="img/sprite.svg#arrow")
              span.breadcrumbs__link Модульные картины


      section.offset-type-two

        section.row-up-inner
          .container
            h2.title-inner Мoдульные картины "Цветы" (286)
        include includes/filter.pug



        section.goods-page-wrap
          .container
            .two-column-grid
              .sidebar
                .btn-categories
                  span.btn-categories__text Водопады (64)
                  svg.btn-categories__svg
                    use(xlink:href="img/sprite.svg#arrow")
                .categories
                  h4.sm-title КАТАЛОГ
                  ul.categories__list

                    li.categories__item
                      .categories__row
                        span.categories__text Города <span>(581)</span>
                        svg.categories__svg
                          use(xlink:href="img/sprite.svg#arrow-down")
                      ul.categories-dropdown

                        li.categories-dropdown__item
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Бамбук (16)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                        li.categories-dropdown__item.categories-dropdown__item--active
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Водопады (64)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                    li.categories__item
                      .categories__row
                        span.categories__text Природа <span>(1260)</span>
                        svg.categories__svg
                          use(xlink:href="img/sprite.svg#arrow-down")
                      ul.categories-dropdown

                        li.categories-dropdown__item
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Бамбук (16)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                        li.categories-dropdown__item.categories-dropdown__item--active
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Водопады (64)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                        li.categories-dropdown__item
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Водопады (64)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                        li.categories-dropdown__item
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Водопады (64)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                        li.categories-dropdown__item
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Водопады (64)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                        li.categories-dropdown__item
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Водопады (64)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                        li.categories-dropdown__item
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Водопады (64)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                        li.categories-dropdown__item
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Водопады (64)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                        li.categories-dropdown__item
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Водопады (64)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                        li.categories-dropdown__item
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Водопады (64)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                        li.categories-dropdown__item
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Водопады (64)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                        li.categories-dropdown__item
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Водопады (64)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                    li.categories__item
                      .categories__row
                        span.categories__text Города <span>(581)</span>
                        svg.categories__svg
                          use(xlink:href="img/sprite.svg#arrow-down")
                      ul.categories-dropdown

                        li.categories-dropdown__item
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Бамбук (16)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                        li.categories-dropdown__item.categories-dropdown__item--active
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Водопады (64)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                    li.categories__item
                      .categories__row
                        span.categories__text Города <span>(581)</span>
                        svg.categories__svg
                          use(xlink:href="img/sprite.svg#arrow-down")
                      ul.categories-dropdown

                        li.categories-dropdown__item
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Бамбук (16)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                        li.categories-dropdown__item.categories-dropdown__item--active
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Водопады (64)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                    li.categories__item
                      .categories__row
                        span.categories__text Города <span>(581)</span>
                        svg.categories__svg
                          use(xlink:href="img/sprite.svg#arrow-down")
                      ul.categories-dropdown

                        li.categories-dropdown__item
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Бамбук (16)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                        li.categories-dropdown__item.categories-dropdown__item--active
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Водопады (64)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                    li.categories__item
                      .categories__row
                        span.categories__text Города <span>(581)</span>
                        svg.categories__svg
                          use(xlink:href="img/sprite.svg#arrow-down")
                      ul.categories-dropdown

                        li.categories-dropdown__item
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Бамбук (16)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                        li.categories-dropdown__item.categories-dropdown__item--active
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Водопады (64)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                    li.categories__item
                      .categories__row
                        span.categories__text Города <span>(581)</span>
                        svg.categories__svg
                          use(xlink:href="img/sprite.svg#arrow-down")
                      ul.categories-dropdown

                        li.categories-dropdown__item
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Бамбук (16)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                        li.categories-dropdown__item.categories-dropdown__item--active
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Водопады (64)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                    li.categories__item
                      .categories__row
                        span.categories__text Города <span>(581)</span>
                        svg.categories__svg
                          use(xlink:href="img/sprite.svg#arrow-down")
                      ul.categories-dropdown

                        li.categories-dropdown__item
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Бамбук (16)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                        li.categories-dropdown__item.categories-dropdown__item--active
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Водопады (64)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                    li.categories__item
                      .categories__row
                        span.categories__text Города <span>(581)</span>
                        svg.categories__svg
                          use(xlink:href="img/sprite.svg#arrow-down")
                      ul.categories-dropdown

                        li.categories-dropdown__item
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Бамбук (16)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                        li.categories-dropdown__item.categories-dropdown__item--active
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Водопады (64)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                    li.categories__item
                      .categories__row
                        span.categories__text Города <span>(581)</span>
                        svg.categories__svg
                          use(xlink:href="img/sprite.svg#arrow-down")
                      ul.categories-dropdown

                        li.categories-dropdown__item
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Бамбук (16)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                        li.categories-dropdown__item.categories-dropdown__item--active
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Водопады (64)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                    li.categories__item
                      .categories__row
                        span.categories__text Города <span>(581)</span>
                        svg.categories__svg
                          use(xlink:href="img/sprite.svg#arrow-down")
                      ul.categories-dropdown

                        li.categories-dropdown__item
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Бамбук (16)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                        li.categories-dropdown__item.categories-dropdown__item--active
                          a.categories-dropdown__link(href="#")
                            span.categories-dropdown__text Водопады (64)
                            svg.categories-dropdown__svg
                              use(xlink:href="img/sprite.svg#arrow-link")

                .tegs
                  h4.sm-title В ИНТЕРЬЕР
                  ul.tegs__wrapper
                    li.tegs__item
                      span Для кухни
                    li.tegs__item
                      span В гостиную
                    li.tegs__item
                      span В гостиную
                    li.tegs__item
                      span В спальню
                    li.tegs__item
                      span В детскую
                    li.tegs__item
                      span Для кафе
                    li.tegs__item
                      span Для гостиниц
                    li.tegs__item
                      span Для офиса

              .mob-column
                include includes/filter.pug

              .wrapper-content-column
                .wrapper-post

                  include includes/picture-block.pug
                  include includes/picture-block.pug
                  include includes/picture-block.pug

                  include includes/picture-block.pug
                  include includes/picture-block.pug
                  include includes/picture-block.pug

                  include includes/picture-block.pug
                  include includes/picture-block.pug
                  include includes/picture-block.pug

                  include includes/picture-block.pug
                  include includes/picture-block.pug
                  include includes/picture-block.pug

                  include includes/picture-block.pug
                  include includes/picture-block.pug
                  include includes/picture-block.pug

                  include includes/picture-block.pug
                  include includes/picture-block.pug
                  include includes/picture-block.pug

                  include includes/picture-block.pug
                  include includes/picture-block.pug
                  include includes/picture-block.pug

                .pagination
                  .pagination__wrapper
                    .pagination__arrow.pagination__arrow--prev
                      svg.pagination__svg
                        use(xlink:href="img/sprite.svg#arrow-link")

                    ul.pagination__list
                      li.pagination__item
                        a.pagination__link.pagination__link--active(href="#")
                          span.pagination__text 1
                      li.pagination__item
                        a.pagination__link(href="#")
                          span.pagination__text 2
                      li.pagination__item
                        a.pagination__link(href="#")
                          span.pagination__text 3
                      li.pagination__item.pagination__item--none
                        a.pagination__link(href="#")
                          span.pagination__text 4
                      li.pagination__item
                        span.pagination__text.pagination__text--dots ...
                      li.pagination__item
                        a.pagination__link(href="#")
                          span.pagination__text 24

                    .pagination__arrow.pagination__arrow--next
                      svg.pagination__svg
                        use(xlink:href="img/sprite.svg#arrow-link")

        section.advantages
          .container
            h2.title-page Почему нас любят клиенты?
            .advantages__wrapper
              .block-info
                .block-info__wrap-icon.block-info__wrap-icon--red
                  svg.block-info__svg
                    use(xlink:href="img/sprite.svg#print")
                .block-info__block-text.block-info__block-text--change
                  h4.block-info__caption Собственное производство
                  span.block-info__text Эко-печать. Натуральные материалы

              .block-info
                .block-info__wrap-icon.block-info__wrap-icon--red
                  svg.block-info__svg
                    use(xlink:href="img/sprite.svg#delivery")
                .block-info__block-text.block-info__block-text--change
                  h4.block-info__caption Доставка по всей России
                  span.block-info__text От 3 дней по РФ.<br> Бесплатно по Краснодару

              .block-info
                .block-info__wrap-icon.block-info__wrap-icon--red
                  svg.block-info__svg
                    use(xlink:href="img/sprite.svg#payment")
                .block-info__block-text.block-info__block-text--change
                  h4.block-info__caption Все виды оплат
                  span.block-info__text Наложенный платеж, VISA, электронные деньги, Qiwi

              .block-info
                .block-info__wrap-icon.block-info__wrap-icon--red
                  svg.block-info__svg
                    use(xlink:href="img/sprite.svg#waranty")
                .block-info__block-text.block-info__block-text--change
                  h4.block-info__caption Гарантия
                  span.block-info__text 1 год на картины.<br> 14 дней на возврат

        section.gallery-photo
          .container
            h2.title-page Фотографии наших картин
            .gallery-photo__wrapper

              a.post-gallery(href="#")
                .post-gallery__wrap-img
                  img.post-gallery__img(src="img/gallery1.jpg")
                .post-gallery__block-text
                  span.post-gallery__city Краснодар
                  span.post-gallery__name Иванов Иван

              a.post-gallery(href="#")
                .post-gallery__wrap-img
                  img.post-gallery__img(src="img/gallery1.jpg")
                .post-gallery__block-text
                  span.post-gallery__city Краснодар
                  span.post-gallery__name Иванов Иван

              a.post-gallery(href="#")
                .post-gallery__wrap-img
                  img.post-gallery__img(src="img/gallery1.jpg")
                .post-gallery__block-text
                  span.post-gallery__city Краснодар
                  span.post-gallery__name Иванов Иван

              a.post-gallery(href="#")
                .post-gallery__wrap-img
                  img.post-gallery__img(src="img/gallery1.jpg")
                .post-gallery__block-text
                  span.post-gallery__city Краснодар
                  span.post-gallery__name Иванов Иван

              a.post-gallery(href="#")
                .post-gallery__wrap-img
                  img.post-gallery__img(src="img/gallery1.jpg")
                .post-gallery__block-text
                  span.post-gallery__city Краснодар
                  span.post-gallery__name Иванов Иван

              a.post-gallery(href="#")
                .post-gallery__wrap-img
                  img.post-gallery__img(src="img/gallery1.jpg")
                .post-gallery__block-text
                  span.post-gallery__city Краснодар
                  span.post-gallery__name Иванов Иван

              a.post-gallery(href="#")
                .post-gallery__wrap-img
                  img.post-gallery__img(src="img/gallery1.jpg")
                .post-gallery__block-text
                  span.post-gallery__city Краснодар
                  span.post-gallery__name Иванов Иван

              a.post-gallery(href="#")
                .post-gallery__wrap-img
                  img.post-gallery__img(src="img/gallery1.jpg")
                .post-gallery__block-text
                  span.post-gallery__city Краснодар
                  span.post-gallery__name Иванов Иван

            .gallery-photo__down
              .watch-btn
                .watch-btn__wrapper
                  span.watch-btn__text смотреть все
                  svg.watch-btn__svg
                    use(xlink:href="img/sprite.svg#arrow")



        section.reviews
          .container
            .reviews__up
              h2.title-page Отзывы

              .reviews-tab-items
                .reviews-tab-items__wrap.reviews-tab-items__wrap--active(rel="video")
                  .reviews-tab-items__btn
                    img.reviews-tab-items__img(src="img/response_video.svg")
                    span.reviews-tab-items__name видео отзывы
                .reviews-tab-items__wrap(rel="vk")
                  .reviews-tab-items__btn
                    img.reviews-tab-items__img(src="img/vk.png")
                    span.reviews-tab-items__name отзывы из VK
                .reviews-tab-items__wrap(rel="site")
                  .reviews-tab-items__btn
                    img.reviews-tab-items__img(src="img/response_site.svg")
                    span.reviews-tab-items__name отзывы c cайта

            .reviews__wrapper
              .reviews-tab-content.active-tab-content(id="video")
                .reviews-banner
                  .reviews-banner__wrap-img
                    img.reviews-banner__img.reviews-banner__img--offset-top(src="img/banner-img.png")
                    .reviews-banner__img-animate(style="background-image: url(img/social.png)")
                  .reviews-banner__block-text
                    span.reviews-banner__text Акция!!!
                    h3.reviews-banner__title Вернем 500 рублей за видео отзыв!
                    .block-btn
                      button.block-btn__btn подробнее об акции

                .reviews-slider#reviews1
                  .reviews-slider__slider.swiper-container
                    .reviews-slider__wrapper.swiper-wrapper

                      .reviews-slider__slide.swiper-slide
                        .reviews-slider__wrap
                          .video-block
                            figure.video-block__wrap-img
                              img.video-block__img(src="img/video-img1.jpg")
                              .video-block__play
                                svg.video-block__svg
                                  use(xlink:href="img/sprite.svg#play")
                            .video-block__block-text
                              span.video-block__date 20 августа, 2019
                              span.video-block__name Петр Петрович
                      .reviews-slider__slide.swiper-slide
                        .reviews-slider__wrap
                          .video-block
                            figure.video-block__wrap-img
                              img.video-block__img(src="img/video-img2.jpg")
                              .video-block__play
                                svg.video-block__svg
                                  use(xlink:href="img/sprite.svg#play")
                            .video-block__block-text
                              span.video-block__date 20 августа, 2019
                              span.video-block__name Петр Петрович
                      .reviews-slider__slide.swiper-slide
                        .reviews-slider__wrap
                          .video-block
                            figure.video-block__wrap-img
                              img.video-block__img(src="img/video-img3.jpg")
                              .video-block__play
                                svg.video-block__svg
                                  use(xlink:href="img/sprite.svg#play")
                            .video-block__block-text
                              span.video-block__date 20 августа, 2019
                              span.video-block__name Петр Петрович
                      .reviews-slider__slide.swiper-slide
                        .reviews-slider__wrap
                          .video-block
                            figure.video-block__wrap-img
                              img.video-block__img(src="img/video-img1.jpg")
                              .video-block__play
                                svg.video-block__svg
                                  use(xlink:href="img/sprite.svg#play")
                            .video-block__block-text
                              span.video-block__date 20 августа, 2019
                              span.video-block__name Петр Петрович

                  .reviews-slider__arrow.reviews-slider__arrow--prev
                    svg
                      use(xlink:href="img/sprite.svg#arrow")
                  .reviews-slider__arrow.reviews-slider__arrow--next
                    svg
                      use(xlink:href="img/sprite.svg#arrow")

                .reviews-tab-content__down
                  .watch-btn
                    .watch-btn__wrapper
                      span.watch-btn__text смотреть все
                      svg.watch-btn__svg
                        use(xlink:href="img/sprite.svg#arrow")

              .reviews-tab-content(id="vk")
                //.reviews-banner
                  .reviews-banner__wrap-img
                    img.reviews-banner__img.reviews-banner__img--offset-top(src="img/banner-img.png")
                    .reviews-banner__img-animate(style="background-image: url(img/social.png)")
                  .reviews-banner__block-text
                    span.reviews-banner__text Акция!!!
                    h3.reviews-banner__title Вернем 500 рублей за видео отзыв!
                    .block-btn
                      button.block-btn__btn подробнее об акции

                .reviews-slider#reviews2
                  .reviews-slider__slider.swiper-container
                    .reviews-slider__wrapper.swiper-wrapper

                      .reviews-slider__slide.swiper-slide
                        .reviews-slider__wrap
                          .reviews-block
                            figure.reviews-block__wrap-img
                              img.reviews-block__img(src="img/reviews-vk.jpg")                              
                            .reviews-block__down
                              img.reviews-block__user-img(src="img/user-img.png")
                              .reviews-block__block-info
                                span.reviews-block__date 20 августа, 2019
                                span.reviews-block__name Иванова Мария
                              .reviews-block__block-text
                                p.reviews-block__text Надо сказать, что общество, конечно, дискредитирует естественный интеллект. Постмодернизм трансформирует непредвиденный закон внешнего мира.                         
                      .reviews-slider__slide.swiper-slide
                        .reviews-slider__wrap
                          .reviews-block
                            figure.reviews-block__wrap-img
                              img.reviews-block__img(src="img/reviews-vk.jpg")                              
                            .reviews-block__down
                              img.reviews-block__user-img(src="img/user-img.png")
                              .reviews-block__block-info
                                span.reviews-block__date 20 августа, 2019
                                span.reviews-block__name Иванова Мария
                              .reviews-block__block-text
                                p.reviews-block__text Надо сказать, что общество, конечно, дискредитирует естественный интеллект. Постмодернизм трансформирует непредвиденный закон внешнего мира.
                      .reviews-slider__slide.swiper-slide
                        .reviews-slider__wrap
                          .reviews-block
                            figure.reviews-block__wrap-img
                              img.reviews-block__img(src="img/reviews-vk.jpg")                              
                            .reviews-block__down
                              img.reviews-block__user-img(src="img/user-img.png")
                              .reviews-block__block-info
                                span.reviews-block__date 20 августа, 2019
                                span.reviews-block__name Иванова Мария
                              .reviews-block__block-text
                                p.reviews-block__text Надо сказать, что общество, конечно, дискредитирует естественный интеллект. Постмодернизм трансформирует непредвиденный закон внешнего мира.                                
                      .reviews-slider__slide.swiper-slide
                        .reviews-slider__wrap
                          .reviews-block
                            figure.reviews-block__wrap-img
                              img.reviews-block__img(src="img/reviews-vk.jpg")                              
                            .reviews-block__down
                              img.reviews-block__user-img(src="img/user-img.png")
                              .reviews-block__block-info
                                span.reviews-block__date 20 августа, 2019
                                span.reviews-block__name Иванова Мария
                              .reviews-block__block-text
                                p.reviews-block__text Надо сказать, что общество, конечно, дискредитирует естественный интеллект. Постмодернизм трансформирует непредвиденный закон внешнего мира.

                  .reviews-slider__arrow.reviews-slider__arrow--prev
                    svg
                      use(xlink:href="img/sprite.svg#arrow")
                  .reviews-slider__arrow.reviews-slider__arrow--next
                    svg
                      use(xlink:href="img/sprite.svg#arrow")

                .reviews-tab-content__down
                  .watch-btn
                    .watch-btn__wrapper
                      span.watch-btn__text смотреть все
                      svg.watch-btn__svg
                        use(xlink:href="img/sprite.svg#arrow")

              .reviews-tab-content(id="site")
                

                .reviews-slider#reviews3
                  .reviews-slider__slider.swiper-container
                    .reviews-slider__wrapper.swiper-wrapper

                      .reviews-slider__slide.swiper-slide
                        .reviews-slider__wrap
                          .reviews-block
                            figure.reviews-block__wrap-img
                              img.reviews-block__img(src="img/reviews-vk.jpg")                              
                            .reviews-block__down
                              .reviews-block__block-info
                                span.reviews-block__date 20 августа, 2019
                                span.reviews-block__name Иванова Мария
                              .reviews-block__block-text
                                p.reviews-block__text Надо сказать, что общество, конечно, дискредитирует естественный интеллект. Постмодернизм трансформирует непредвиденный закон внешнего мира.
                      .reviews-slider__slide.swiper-slide
                        .reviews-slider__wrap
                          .reviews-block
                            figure.reviews-block__wrap-img
                              img.reviews-block__img(src="img/reviews-vk.jpg")                              
                            .reviews-block__down
                              .reviews-block__block-info
                                span.reviews-block__date 20 августа, 2019
                                span.reviews-block__name Иванова Мария
                              .reviews-block__block-text
                                p.reviews-block__text Надо сказать, что общество, конечно, дискредитирует естественный интеллект. Постмодернизм трансформирует непредвиденный закон внешнего мира.
                      .reviews-slider__slide.swiper-slide
                        .reviews-slider__wrap
                          .reviews-block
                            figure.reviews-block__wrap-img
                              img.reviews-block__img(src="img/reviews-vk.jpg")                              
                            .reviews-block__down
                              .reviews-block__block-info
                                span.reviews-block__date 20 августа, 2019
                                span.reviews-block__name Иванова Мария
                              .reviews-block__block-text
                                p.reviews-block__text Надо сказать, что общество, конечно, дискредитирует естественный интеллект. Постмодернизм трансформирует непредвиденный закон внешнего мира.
                      .reviews-slider__slide.swiper-slide
                        .reviews-slider__wrap
                          .reviews-block
                            figure.reviews-block__wrap-img
                              img.reviews-block__img(src="img/reviews-vk.jpg")                              
                            .reviews-block__down
                              .reviews-block__block-info
                                span.reviews-block__date 20 августа, 2019
                                span.reviews-block__name Иванова Мария
                              .reviews-block__block-text
                                p.reviews-block__text Надо сказать, что общество, конечно, дискредитирует естественный интеллект. Постмодернизм трансформирует непредвиденный закон внешнего мира.

                  .reviews-slider__arrow.reviews-slider__arrow--prev
                    svg
                      use(xlink:href="img/sprite.svg#arrow")
                  .reviews-slider__arrow.reviews-slider__arrow--next
                    svg
                      use(xlink:href="img/sprite.svg#arrow")

                .reviews-tab-content__down
                  .watch-btn
                    .watch-btn__wrapper
                      span.watch-btn__text смотреть все
                      svg.watch-btn__svg
                        use(xlink:href="img/sprite.svg#arrow")

        section.useful-articles
          .container
            h2.title-page Полезные статьи
            .useful-articles__wrapper

              a.useful-articles-post(href="#")
                figure.useful-articles-post__wrap-img
                  img.useful-articles-post__img(src="img/articles1.jpg")
                .useful-articles-post__block-text
                  .useful-articles-post__up
                    span.useful-articles-post__date 20 августа, 2019
                    h3.useful-articles-post__title Преимущества модульных картин
                  .useful-articles-post__text
                    p Это простой способ наполнить помещение жизнью и красотой, декорирование не занимает много места – нужно только повесить полотна в определенном порядке.

              a.useful-articles-post(href="#")
                figure.useful-articles-post__wrap-img
                  img.useful-articles-post__img(src="img/articles1.jpg")
                .useful-articles-post__block-text
                  .useful-articles-post__up
                    span.useful-articles-post__date 20 августа, 2019
                    h3.useful-articles-post__title Как купить модульную картину природы
                  .useful-articles-post__text
                    p Чтобы купить модульную картину природы, стоит обратить внимание не только на сам сюжет, но и тонкости расположения, поскольку предполагается наличие нескольких элементов, составляющих единую картинку.

            .useful-articles__down
              .watch-btn
                .watch-btn__wrapper
                  span.watch-btn__text смотреть все
                  svg.watch-btn__svg
                    use(xlink:href="img/sprite.svg#arrow")

        section.info-row
          .container
            .info-row__up
              h2.title-page Купить модульную картину в Краснодаре

            .info-row__wrapper
              .info-row__wrap-img
                img.info-row__img(src="img/info-img.jpg")
              .info-row__block-text
                h4 Пример подзаголовка текста
                p Надо сказать, что общество, конечно, дискредитирует естественный интеллект. Постмодернизм трансформирует непредвиденный закон внешнего мира. Ощущение мира, следовательно, оспособляет трагический смысл жизни.
                p Наряду с этим структурализм абстрактен. Частное - это класс эквивалентности. Представление, в рамках сегодняшних воззрений, рассматривается через интеллект. Можно предположить, что врожденная интуиция, как принято считать, откровенна. Интересно отметить, что конфликт, пренебрегая деталями, нетривиален. Согласно предыдущему, любовь, конечно, творит постмодернизм. Структурализм непредвзято трансформирует типичный смысл жизни, учитывая известные обстоятельства.

            .info-row__down
              .watch-btn
                .watch-btn__wrapper
                  span.watch-btn__text читать полностью
                  svg.watch-btn__svg
                    use(xlink:href="img/sprite.svg#arrow")

        section.sect-search
          .container
            .sect-search__wrapper
              h3.sect-search__title Подпишитесь на акции, новости и подарки
              .sect-search__wrap
                form.line-form
                  .line-form__wrap
                    input.line-form__field(type="email" placeholder="введите Ваш e-mail")
                    button.line-form__btn
                      svg.line-form__svg
                        use(xlink:href="img/sprite.svg#mail")
                      span.line-form__text подписаться







    footer
      include includes/footer.pug




    include includes/script.pug
