doctype html
html(lang="ru-Ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title url
    
    include includes/link.pug
    
  body
    div.container
      div(style="margin-bottom: 20px;")
        a(href="goods.html" target="_blank" style="font-size: 30px; font-weight: 700; text-transform: uppercase;") каталог
      div(style="margin-bottom: 20px;")
        a(href="inner-picture.html" target="_blank" style="font-size: 30px; font-weight: 700; text-transform: uppercase;") Картина
      div(style="margin-bottom: 20px;")
        a(href="stocks.html" target="_blank" style="font-size: 30px; font-weight: 700; text-transform: uppercase;") Акции
      div(style="margin-bottom: 20px;")
        a(href="stock.html" target="_blank" style="font-size: 30px; font-weight: 700; text-transform: uppercase;") Акция
      div(style="margin-bottom: 20px;")
        a(href="delivery.html" target="_blank" style="font-size: 30px; font-weight: 700; text-transform: uppercase;") Доставка  
        
      

      
                     
                   
    include includes/script.pug